<div class="about-container">
  <div class="user-profile animated-scroll-up">
    <div class="cont-img">
      <div class="img">
        <img *ngIf="user" src="{{ user.avatar_url }}" alt="foto de perfil" />
      </div>
      <div>
        <h2>Emmanuel Zelarayán</h2>
        <h2>
          <span style="font-weight: bolder">{{ "developer" | translate }}</span>
        </h2>
      </div>
    </div>
    <div class="cont-text">
      <p class="qs-title">{{ "titleAbout" | translate }}</p>
      <p>{{ "descriptionAbout" | translate }}</p>
      <a (click)="downloadCV()">
        <button mat-raised-button color="primary">
          {{ "download" | translate }}
        </button>
      </a>
    </div>
  </div>

  <app-skills></app-skills>

  <div class="git-container">
    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      class="git-tab animated-scroll-up"
      backgroundColor="primary"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <mat-tab label="{{ 'languages' | translate }}">
        <div class="img-github-chart">
          <img
            src="https://github-readme-stats.vercel.app/api/top-langs?username=emmavz89&show_icons=true&locale=es&layout=compact&theme=nightowl&card_width=445&hide=css,html"
            alt="emmavz89"
          />
        </div>
      </mat-tab>
      <mat-tab label="{{ 'contributions' | translate }}">
        <div class="img-github-chart">
          <img
            src="https://github-readme-streak-stats.herokuapp.com/?user=emmavz89&&theme=nightowl&locale=es"
            alt="emmavz89"
          />
        </div>
      </mat-tab>
      <mat-tab label="{{ 'statistics' | translate }}">
        <div class="img-github-chart">
          <img
            src="https://github-readme-stats.vercel.app/api?username=emmavz89&show_icons=true&locale=en&theme=nightowl&hide=css"
            alt="emmavz89"
          />
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      class="git-tab animated-scroll-up"
      backgroundColor="primary"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <mat-tab label="{{ 'graph' | translate }}">
        <div class="img-github-chart">
          <img
            src="https://github-readme-activity-graph.cyclic.app/graph?username=EmmaVZ89&theme=noctis-minimus&locale=es)"
            alt="emmavz89"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
