<div class="user-profile animated-scroll-up">
  <div>
    <img
      src="https://avatars.githubusercontent.com/u/65980591?v=4"
      alt="foto de perfil"
    />
  </div>
  <h2>Hola, soy <span>Emmanuel</span></h2>
  <h2><span>Desarrollador Web</span></h2>
  <p>
    Hola, soy Emmanuel, un desarrollador web egresado en la carrera Técnico
    Universitario en Programación en UTN-FRA 2022. Me apasiona el desarrollo y
    siempre estoy buscando aprender nuevas herramientas y técnicas para mejorar
    mis habilidades.
  </p>
  <button mat-raised-button color="primary">Descargar CV</button>
</div>

<app-skills></app-skills>

<mat-tab-group
  [(selectedIndex)]="selectedTab"
  class="git-tab animated-scroll-up"
  backgroundColor="primary"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
>
  <mat-tab label="Lenguajes">
    <div class="img-github-chart">
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs?username=emmavz89&show_icons=true&locale=es&layout=compact&theme=nightowl&card_width=445&hide=css,html"
        alt="emmavz89"
      />
    </div>
  </mat-tab>
  <mat-tab label="Contribuciones">
    <div class="img-github-chart">
      <img
        src="https://github-readme-streak-stats.herokuapp.com/?user=emmavz89&&theme=nightowl&locale=es"
        alt="emmavz89"
      />
    </div>
  </mat-tab>
  <mat-tab label="Estadísticas">
    <div class="img-github-chart">
      <img
        src="https://github-readme-stats.vercel.app/api?username=emmavz89&show_icons=true&locale=en&theme=nightowl&hide=css"
        alt="emmavz89"
      />
    </div>
  </mat-tab>
</mat-tab-group>

<div class="cont animated-scroll-up">
  <div class="img-github-chart">
    <img
      src="https://github-readme-activity-graph.cyclic.app/graph?username=EmmaVZ89&theme=noctis-minimus&locale=es)"
      alt="emmavz89"
    />
  </div>
</div>