<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Emmanuel Zelarayán</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="nav-list"
    >
      <mat-nav-list class="menu">
        <p
          [ngClass]="selectedTabCategory == 0 ? 'link-focus' : ''"
          (click)="changeCategory(0)"
        >
          Sobre mi
        </p>
        <p
          [ngClass]="selectedTabCategory == 1 ? 'link-focus' : ''"
          (click)="changeCategory(1)"
        >
          Portafolio
        </p>
        <p
          [ngClass]="selectedTabCategory == 2 ? 'link-focus' : ''"
          (click)="changeCategory(2)"
        >
          Contacto
        </p>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group
        [(selectedIndex)]="selectedTabCategory"
        headerPosition="below"
      >
        <mat-tab label="Sobre mi">
          <app-about></app-about>
        </mat-tab>

        <mat-tab label="Portafolio">
          <app-portfolio></app-portfolio>
        </mat-tab>
        
        <mat-tab label="Contacto">
          <p>CONTACTO</p>
        </mat-tab>
      </mat-tab-group>

      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
