$bg-color: rgb(0, 16, 31);
$text-color-primary: rgb(96, 210, 238);
$text-color-secondary: rgb(198, 130, 207);
$border-color: rgb(198, 130, 207);
$btn-cv-color: rgb(166, 96, 175);

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  display: none;
}

.example-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
  background: $bg-color;
}

.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
  background: $bg-color;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

// *************************************************
.nav-list {
  background: $bg-color;
  border-top: 2px solid $border-color;
  border-right: 2px solid $border-color;
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding: 1rem;
}

.menu {
  p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bolder;
    color: $text-color-primary;
    cursor: pointer;
  }
  p:hover {
    color: #fff;
    transition: color 0.5s;
  }
}

.link-focus {
  color: #fff !important;
  text-decoration: underline;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

//*************************************************************

@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .mobile {
    display: none;
  }
  .toolbar {
    position: fixed;
    z-index: 2;
    background: $bg-color;
  }
  .nav-bar {
    width: 100%;
    display: block;
    ul {
      display: flex;
      justify-content: center;
      justify-items: center;
      list-style: none;
      margin: 0px !important;
      padding: 0px !important;
      li {
        color: $text-color-primary;
        border-bottom: 2px solid $text-color-primary;
        padding: 0 1rem;
        margin: 0 2rem;
      }
      li:hover {
        cursor: pointer;
      }
    }
  }
  .li-focus {
    color: #fff !important;
    border-bottom: 2px solid $text-color-secondary !important;
    -webkit-transition: color 0.5s, border-bottom 0.5s;
  }

  .mat-sidenav-content {
    margin-top: 4rem;
  }
}
