<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Emmanuel Zelarayán</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="nav-list"
    >
      <mat-nav-list class="menu">
        <p (click)="changeCategory(0)">Sobre mi</p>
        <p (click)="changeCategory(1)">Portafolio</p>
        <p (click)="changeCategory(2)">Contacto</p>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group
        [(selectedIndex)]="selectedTabCategory"
        headerPosition="below"
      >
        <mat-tab label="Sobre mi">
          <div class="user-profile animated-scroll-up">
            <img
              src="https://avatars.githubusercontent.com/u/65980591?v=4"
              alt="foto de perfil"
            />
            <h2>Hola, soy <span>Emmanuel</span></h2>
            <h2><span>Desarrollador Web</span></h2>
            <p>
              Hola, soy Emmanuel, un desarrollador web egresado en la carrera
              Técnico Universitario en Programación en UTN-FRA 2022. Me apasiona
              el desarrollo y siempre estoy buscando aprender nuevas
              herramientas y técnicas para mejorar mis habilidades.
            </p>
            <button mat-raised-button color="primary">Descargar CV</button>
          </div>

          <mat-tab-group
            [(selectedIndex)]="selectedTab"
            class="git-tab animated-scroll-up"
            backgroundColor="primary"
            mat-stretch-tabs="false"
            mat-align-tabs="start"
          >
            <mat-tab label="Lenguajes">
              <img
                class="img-github-chart"
                src="https://github-readme-stats.vercel.app/api/top-langs?username=emmavz89&show_icons=true&locale=es&layout=compact&theme=nightowl&card_width=445&hide=css,html"
                alt="emmavz89"
            /></mat-tab>
            <mat-tab label="Contribuciones"
              ><img
                class="img-github-chart"
                src="https://github-readme-streak-stats.herokuapp.com/?user=emmavz89&&theme=nightowl&locale=es"
                alt="emmavz89"
            /></mat-tab>
            <mat-tab label="Estadísticas"
              ><img
                class="img-github-chart"
                src="https://github-readme-stats.vercel.app/api?username=emmavz89&show_icons=true&locale=en&theme=nightowl&hide=css"
                alt="emmavz89"
            /></mat-tab>
          </mat-tab-group>

          <div class="cont animated-scroll-up">
            <img
              class="img-github-chart"
              src="https://github-readme-activity-graph.cyclic.app/graph?username=EmmaVZ89&theme=noctis-minimus&locale=es)"
              alt="emmavz89"
            />
          </div>
        </mat-tab>
        <mat-tab label="Portafolio">
          <p>PORTAFOLIO</p>
        </mat-tab>
        <mat-tab label="Contacto">
          <p>CONTACTO</p>
        </mat-tab>
      </mat-tab-group>

      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
