<div class="skills-container">

  <h3 class="skill-title">Habilidades y Herramientas</h3>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Frameworks</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/angular.png"
              alt="logo de angular"
            />
            <span>Angular</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/ionic.png"
              alt="logo de ionic"
            />
            <span>Ionic</span>
          </div>
          <div>
            <img src="../../../assets/about/img/net.png" alt="logo de dotnet" />
            <span>.NET</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Lenguajes</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/typescript.png"
              alt="logo de typescript"
            />
            <span>TypeScript</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/javascript.png"
              alt="logo de javascript"
            />
            <span>JavaScript</span>
          </div>
          <div>
            <img src="../../../assets/about/img/c-sharp.png" alt="logo de c#" />
            <span>C#</span>
          </div>
          <div>
            <img src="../../../assets/about/img/php.png" alt="logo de php" />
            <span>PHP</span>
          </div>
          <div>
            <img src="../../../assets/about/img/c.png" alt="logo de c" />
            <span>C</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Servidores y API's</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/nodeexpress.png"
              alt="logo de nodeexpress"
            />
            <span>Node.js</span>
          </div>
          <div>
            <img src="../../../assets/about/img/slim.png" alt="logo de slim" />
            <span>Slim</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Bases de Datos</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/sqlserver.png"
              alt="logo de sql server"
            />
            <span>Sql Server</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/mysql.png"
              alt="logo de maysql"
            />
            <span>MySql</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/firebase.png"
              alt="logo de firebase"
            />
            <span>Firebase</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/mongodb.png"
              alt="logo de mongodb"
            />
            <span>MongoDB</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Maquetado y Estilos</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/html5.png"
              alt="logo de html5"
            />
            <span>HTML5</span>
          </div>
          <div>
            <img src="../../../assets/about/img/css3.png" alt="logo de css3" />
            <span>CSS3</span>
          </div>
          <div>
            <img src="../../../assets/about/img/sass.png" alt="logo de sass" />
            <span>Sass</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/bootstrap.png"
              alt="logo de bootstrap"
            />
            <span>Bootstrap</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/material.png"
              alt="logo de angular material"
            />
            <span>Material</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Visualización de Datos</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img
              src="../../../assets/about/img/chartjs.png"
              alt="logo de chartjs"
            />
            <span>ChartJs</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="acordeon">
      <div class="title">
        <p class="title">Otros</p>
      </div>
      <div class="info">
        <div class="img-container">
          <div>
            <img src="../../../assets/about/img/git.png" alt="logo de git" />
            <span>Git</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/heroku.png"
              alt="logo de heroku"
            />
            <span>Heroku</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/linux.png"
              alt="logo de linux"
            />
            <span>Linux</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/postman.png"
              alt="logo de postman"
            />
            <span>Postman</span>
          </div>
          <div>
            <img
              src="../../../assets/about/img/arduino.png"
              alt="logo de arduino"
            />
            <span>Arduino</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
